/*
    Created on : 20.02.2015, 2:48:16
    Author     : esb
*/

/*корректирование отсупа шапки*/
.title_page_bl{
    margin-bottom: 5px;
}
/* удалить вообще класс и див */
.bl_content_sett {
    background: none;
    -webkit-box-sizing: initial;
    box-sizing: initial;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    padding: 0;}
/* элементы bootstraap-а*/
.table-hover>tbody>tr:hover {
    background-color: #E6F8FC;
    /*color: #ccc;*/
}
.table-hover>tbody>tr>td:hover {
    /*background: radial-gradient(circle closest-corner at 30% 50%, #D2F6FF, #E6F8FC);*/
    background-color: #D2F6FF;
    color: #333;
/*    overflow: visible;*/
    font-weight: bold;
}
/* подключенные к id */
.col_id_name {
    font-weight: bold;
    color: #555;
}
/* проекта новые */
.panel-projects table tbody{
    border-bottom: 1px solid #CDCDCD;
}
.panel-projects table tbody tr {
    background-color: #FFF;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    color: #777;
}
.panel-projects table tbody tr td{
    padding: 15px 18px;
    padding-right: 0;
    border-color: #E3E3E3;
}
.panel-projects table tbody tr td, .panel-projects table tbody tr td div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.panel-projects table thead tr th{
    border: none;
}
.panel-projects table {
    table-layout: fixed;
}
/* стили заменяет кастом из вьюхи*/
.order-by, #filters_row {
    display: none;
}
thead th div, thead td div {
    padding-left: 18px;
    cursor: pointer;
}
.filtered{
    font-size: 12px;
    color: #666;
    display: none;
}
.row_empty{
    text-align: center;
}
.loader{
    text-align: center;
    display: none;
}
.edit-select{
    margin: -8px;
    padding: 0px;
}
.dtable-loader{
    padding: 5px;
    color: #6093EB;
    margin-top: 0px;
    text-align: center;
    width: 388px;
    min-height: 18px;
    line-height: 24px;
    display: none;
}
.saving-rows-process {
    width: 0;
    height: 0;
    overflow: hidden;
    /* display: none; */
    padding: 0 !important;
    padding-top: 5px !important;
    margin: 0 inherit;
    border: none;
}
.saving-spiner-cont{
    display: none;
    position: fixed;
    left: calc(100% / 2);
    color: #6093EB;
}
.del_loader{
    display: none;
    color: #6093EB;
    margin-top: -17px;
}
.add_top_level{
    color: #6093EB;
    margin-top: -8px;
}

tr[data-row^=new-row-] td, [data-is-changed="true"] td{
    background-color: #E6F8FC;
}
.edit_materials, .update-table{
    top: 0 !important;
}

.dtable-aggregators .agregator{
    margin-right: 5px;
}

/*изменяем цвет полосатости*/
.table-striped>tbody>tr:nth-of-type(odd){
   background-color: #DFEBFE;
}